#register_form h1 {
  text-align: center;
}
body {
  background: #34edc2;
}
/*{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: rgb(180, 180, 235);
  }
*/  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #8a76b3;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
#register_form {
  width: 30%;
  margin: 1px auto;
  padding: 20px;
  border: 1px solid #918274;
  border-radius: 0px 0px 10px 10px;
  background: #eef7b5;
}

#register_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 20px;
  padding: 4px;
  font-size: 20px;
}

.form_error span {
  width: 70%;
  height: 30px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: red;
}
.form_error input {
  border: 1px solid red;
}
#reg_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
}